<div class="card">
  <div class="card-header">Upload Spreadsheet</div>
  <div class="card-body">
    <div class="form-group">
      <a href="assets/empty-spreadsheet-v3.xlsx" target="_self" download>
        <i class="fa fa-download"></i>Example file input
      </a>
      <label for="exampleFormControlFile1">Please upload your spreadsheet</label>
      <input type="file" #fileInput placeholder="Upload file..."/>
      <button type="button" (click)="upload()">Upload</button>
    </div>
  </div>
  <div *ngIf="uploadResults$">
    <p>Upload successful: {{uploadResults$.message}}</p>
  </div>
  <div *ngIf="error$">
    <p>Upload failed: {{error$.message}}</p>
    <p>Details: {{error$.details}}</p>
  </div>
</div>
